<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        h2 {
        color: black;
        padding: 10px;
        margin-top: 0px;
        }
        div {
        margit-top: 50%
        }
        body {
        background: #A3A3A3;
        margin: 0;
        color: black;
        }
    </style>
</head>
<body>
    <div align="center">
        <form action="" method="post">
<!--            <h2>Ввод текста</h2>-->
            <br><br><textarea autofocus maxlength="1000" name="input_text" rows="15" cols="100" id="input_text">{% if input_message %}{{input_message}}{% endif %}</textarea><br>
            <p><input type="submit" value="Обработать"></p>
<!--            <h2>Результат</h2>-->
            <textarea name="output_text" id="output_text" maxlength="1000" rows="15" cols="100">{% if message %}{{message}}{% endif %}</textarea><br>
        </form>
    </div>
</body>
</html>
