<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        h2 {
        color: black;
        padding: 10px;
        margin-top: 0px;
        }
        div {
        margit-top: 50%
        }
        body {
        background: #A3A3A3;
        margin: 0;
        color: black;
        }
    </style>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

<form method="POST">
  <h3 align="center">Login</h3>
      <div align="center">
          <div class="form-group">
              <input type="text" class="form-control" id="username" name="username" placeholder="Enter name"/>
          </div>
      </div>
      <br>
      <div align="center">
          <div class="form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"/>
          </div>
      </div>
      <br>
      <div align="center">
          <button type="submit" class="btn btn-primary">Login</button>
      </div>
</form>
</body>
</html>